@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Roboto:wght@400;500&family=Tinos:ital,wght@0,700;1,400;1,700&display=swap');

a {
  transition: .15s
}

.center {
  text-align: -webkit-center
}

.background-banner {
  background-image: url(../../public/web-1.jpg);
  background-position: center center;
  background-size: cover;
}

h1 {
  font-family: Tinos, serif;
  font-weight: 600;
  font-style: italic
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 400;

}

.shadow-custom {
  box-shadow: rgba(6, 24, 44, .4) 0 0 0 2px, rgba(6, 24, 44, .65) 0 4px 6px -1px, rgba(255, 255, 255, .275) 0 1px 0 inset
}

button {
  background-color: #c13584;
}

button:hover {
  transform: scale(1.1);
  transition: transform .2s ease-in-out
}

.spinner {
  border: 5px solid rgba(0, 0, 0, .1);
  border-left-color: #3490dc;
  border-radius: 50%;
  animation: 1s linear infinite spin
}